
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-image:url(background\ img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 80px 20px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: #222;
  margin: 0;
}

.intro {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 10px;
  color: #ffffff;
}
section {
  padding: 20px;
}

 h2 {
  font-size: 1.8em;
  font-weight: bold;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
}

section p {
  line-height: 1.6;
  margin: 10px 0;
}

.highlight {
  background-color: #fff8b0;
  color: #333;
  font-size: 1.1em;
  line-height: 2.9;
  font-weight: bold;
  padding: 5px;
}

a {
  color: blue;
  text-decoration: underline;
}

footer {
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
}
